@import url(https://fonts.googleapis.com/css?family=Yatra+One&subset=devanagari,latin);
body {
  text-align: center;
  color: white;
  background-color: black;
}

h1 {
  font-family: "Yatra One";
  font-size: 4em;
  color: gold;
  text-shadow: 0 0 2em gold, 0 0 1em red;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

iframe#player {
    max-width: 640px !important;
    max-height: 390px !important;
    width: 80vw !important;
    height: 80vh !important;
}

